<?xml version="1.0" encoding="utf-8"?>
<Version>11</Version>
<NoSaveMode>false</NoSaveMode>
<WarnStoreReadOnly>true</WarnStoreReadOnly>
<WindowPlacement>
    <x>78</x>
    <y>78</y>
    <cx>768</cx>
    <cy>519</cy>
    <Maximized>true</Maximized>
</WindowPlacement>
<EditBinary>
    <x>0</x>
    <y>0</y>
    <cx>0</cx>
    <cy>0</cy>
    <Maximized>false</Maximized>
</EditBinary>
<EditMultiSz>
    <x>0</x>
    <y>0</y>
    <cx>0</cx>
    <cy>0</cy>
    <Maximized>false</Maximized>
</EditMultiSz>
<EditFavorite>
    <x>0</x>
    <y>0</y>
    <cx>0</cx>
    <cy>0</cy>
    <Maximized>false</Maximized>
</EditFavorite>
<DocumentsOrder>
    <Registry/>
</DocumentsOrder>
<RegistryDocuments>
    <GridLines>false</GridLines>
    <KeysInList>true</KeysInList>
    <DefaultColumns>
        <Column>
            <Index>0</Index>
            <Width>150</Width>
            <Visible>true</Visible>
        </Column>
        <Column>
            <Index>1</Index>
            <Width>105</Width>
            <Visible>true</Visible>
        </Column>
        <Column>
            <Index>2</Index>
            <Width>400</Width>
            <Visible>true</Visible>
        </Column>
        <Column>
            <Index>3</Index>
            <Width>50</Width>
            <Visible>true</Visible>
        </Column>
        <Column>
            <Index>4</Index>
            <Width>89</Width>
            <Visible>true</Visible>
        </Column>
    </DefaultColumns>
    <Registry>
        <IsTreeVisible>true</IsTreeVisible>
        <TreePaneWidth>240</TreePaneWidth>
        <LastKey/>
        <Columns>
            <Column>
                <Index>0</Index>
                <Width>150</Width>
                <Visible>true</Visible>
            </Column>
            <Column>
                <Index>1</Index>
                <Width>105</Width>
                <Visible>true</Visible>
            </Column>
            <Column>
                <Index>2</Index>
                <Width>400</Width>
                <Visible>true</Visible>
            </Column>
            <Column>
                <Index>3</Index>
                <Width>50</Width>
                <Visible>true</Visible>
            </Column>
            <Column>
                <Index>4</Index>
                <Width>89</Width>
                <Visible>true</Visible>
            </Column>
        </Columns>
        <SortColumn>0</SortColumn>
        <SortOrder>3</SortOrder>
        <Type>0</Type>
        <Descriptor/>
        <VisitHistoryId>0</VisitHistoryId>
        <IsADocument>true</IsADocument>
        <IsActive>true</IsActive>
        <DocumentWindowState>2</DocumentWindowState>
        <Placement>000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000</Placement>
    </Registry>
</RegistryDocuments>
<SearchResultsDocuments>
    <GridLines>false</GridLines>
</SearchResultsDocuments>
<FavoritesWindow>
    <GridLines>false</GridLines>
    <IsTreeVisible>true</IsTreeVisible>
    <TreePaneWidth>-1</TreePaneWidth>
    <SortColumn>0</SortColumn>
    <SortOrder>0</SortOrder>
    <ShowSubcategories>false</ShowSubcategories>
    <IsADocument>true</IsADocument>
    <IsActive>false</IsActive>
    <DocumentWindowState>2</DocumentWindowState>
    <Placement>000000000000000000000000000000000000000000000000000000000000000000000000820000002C01000000000000000000000000000000000000000000000100000001000000</Placement>
</FavoritesWindow>
<History>
    <Columns>
        <Column>
            <Index>0</Index>
            <Width>145</Width>
            <Visible>true</Visible>
        </Column>
        <Column>
            <Index>1</Index>
            <Width>450</Width>
            <Visible>true</Visible>
        </Column>
        <Column>
            <Index>2</Index>
            <Width>400</Width>
            <Visible>true</Visible>
        </Column>
        <Column>
            <Index>3</Index>
            <Width>400</Width>
            <Visible>true</Visible>
        </Column>
    </Columns>
    <GridLines>false</GridLines>
    <IsADocument>true</IsADocument>
    <IsActive>false</IsActive>
    <DocumentWindowState>2</DocumentWindowState>
    <Placement>660A05000000000042060300000000000400000000000000040000000000000000000000820000000004000000000000000000000000000000000000000000000100000001000000</Placement>
</History>
<SearchParams>
    <SearchScope/>
    <FindThat/>
    <SearchKeys>true</SearchKeys>
    <SearchValues>true</SearchValues>
    <SearchData>true</SearchData>
    <MatchCase>false</MatchCase>
    <MatchWholeString>false</MatchWholeString>
    <UseRegEx>false</UseRegEx>
    <UseModifiedAfter>false</UseModifiedAfter>
    <UseModifiedBefore>false</UseModifiedBefore>
    <SearchHiddenKeys>false</SearchHiddenKeys>
    <UseMinDataSize>false</UseMinDataSize>
    <MinDataSize>--</MinDataSize>
    <UseMaxDataSize>false</UseMaxDataSize>
    <MaxDataSize>--</MaxDataSize>
    <UseExclusions>false</UseExclusions>
    <MaxMatches>1000</MaxMatches>
    <NewResultsWindow>false</NewResultsWindow>
    <MergeSearchResults>false</MergeSearchResults>
    <IsWhereToSearchVisible>true</IsWhereToSearchVisible>
    <IsSearchOptionsVisible>true</IsSearchOptionsVisible>
    <IsResultOptionsVisible>true</IsResultOptionsVisible>
</SearchParams>
<ReplaceParams>
    <FindThat/>
    <ReplaceWith/>
    <SearchKeys>true</SearchKeys>
    <SearchValues>true</SearchValues>
    <SearchData>true</SearchData>
    <MatchCase>false</MatchCase>
    <MatchWholeString>false</MatchWholeString>
    <UseRegEx>false</UseRegEx>
    <SearchSelectionOnly>false</SearchSelectionOnly>
</ReplaceParams>
<BandsInfo>
    <Band>
        <Id>0</Id>
        <Width>0</Width>
        <Visible>true</Visible>
        <NewRow>true</NewRow>
    </Band>
    <Band>
        <Id>1</Id>
        <Width>0</Width>
        <Visible>true</Visible>
        <NewRow>true</NewRow>
    </Band>
    <Band>
        <Id>2</Id>
        <Width>0</Width>
        <Visible>true</Visible>
        <NewRow>true</NewRow>
    </Band>
</BandsInfo>
<IsTabsBarVisible>true</IsTabsBarVisible>
<IsStatusBarVisible>true</IsStatusBarVisible>
<AreToolbarsLocked>false</AreToolbarsLocked>
<ToolbarButtonSize>0</ToolbarButtonSize>
<FontUseSystem>true</FontUseSystem>
<FontFace/>
<FontHeight>0</FontHeight>
<FontItalic>false</FontItalic>
<FontWeight>0</FontWeight>
<ForceDarkMode>false</ForceDarkMode>
<ForceLightMode>false</ForceLightMode>
<LastUpdateCheck>2024-12-19</LastUpdateCheck>
<CheckUpdatesAutomatically>true</CheckUpdatesAutomatically>
<TreeAfterDeleteSelection>0</TreeAfterDeleteSelection>
<ClearSearchHistoryOnExit>false</ClearSearchHistoryOnExit>
<ClearUndoHistoryOnExit>false</ClearUndoHistoryOnExit>
<ClearVisitHistoryOnExit>false</ClearVisitHistoryOnExit>
<ModelessProperties>false</ModelessProperties>
